*{
  box-sizing: border-box;
  color: white
}

img{
  width: 20px;
  height: 20px;
}
.profilePic{
  border-radius: 50%;
  width: 100px;
  height:100px;
}
h1{
  text-align: center;
}

body{
  min-height: 100%;
  height: fit-content;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
}

.profilePicContainer{
display: flex;
justify-content: center;
}

.container{
  margin: auto;
  padding: 30px;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(1, 1, 63);

}

.socialsContainer{
  display: flex;
  width: 100%;
}

.flex-item {
  flex: 1;
  width: 20px;
  height: 20px; 
}

.links{
  border-radius: 27px;
  background-color: green;
  display: flex;
  justify-content: start;
  padding: 5px;
}

.linksImage{
  border-radius: 30px;
  width: 70px;
  height: 70px;
}

p{
  padding-left: 12px;
}
